# Files uploaded by "gcloud run deploy --source ." (buildpacks use requirements.txt and Procfile)
#!include:.gitignore
.git
.gitignore
*.ipynb
admin/
cuML/
input/
output/
process/
shap/
tests/
models/*
!models/main.py
# Random Bits Forest binary, downloaded by deploy-cloud-run.sh
!models/random-bits-forest/
models/random-bits-forest/*
!models/random-bits-forest/rbf/
